.Home-SecondSection-container{
    
    background-image: url("../Images/background2.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    margin-top: 0px;
    padding-top: 1vh;
    display: flex;
    flex-direction: row;
}
.LeftSecondSection{
    width: 50%;
    padding-left: 10%;
}
.header-SecondSection{
    color: white;
    font-size: 3.5vw;
    letter-spacing: 0.5vw;
    margin-bottom: 0px;
    margin-top: 0px;
}
.letter-o{
    color: red;
}
.parag-SectionSection{
    color: white;
    font-size: 1.3vw;
    
}
.parag-SecondSecSection{
    color: white;
    padding-top: 5%;
    font-size: 2.5vw;
    margin-bottom: 0px;
    margin-top: 0px;
}

.inter-phone{
    display: flex;
    flex-direction: row;
}


.p-interSecondSection{
    width: 30%;
    color: white;
    font-size: 2.5vw;
    margin-top: 0px;
}
.phonee{
    padding-top: 2vh;
    height: 35vh;
}
.Download-secondSection{
    color:  #312783;
}
.store-buttons{
    height: 8vh;
    width: 100%;
}
.images-button-stores{
display: flex;
flex-direction: column;
gap: 1vh;
width: 100%;
}
.right-secondSection{
    width:50%;
}
.mapimg{
    height: 80%;
    width: 100%;
    padding-top: 10%;
}
.download-holder{
    display: flex;
    flex-direction: row;
    width: 55%;
    gap: 2%;
}
.vitabox{
    width: 100%;
    height: 100%;
}
.box-holder{
    width: 50%;
}






/* mobile css */


@media screen and (max-width: 767px) {
    .Home-SecondSection-container {
        background-image: url("../Images/background2.png");
        height: auto;
        background-repeat: no-repeat;
        width: 100%;
        background-size: 100% 100%;
        margin-top: 0px;
        padding-top: 1vh;
        display: flex;
        flex-direction: column;
    }
    .LeftSecondSection {
        width: 90%;
        padding-left: 10%;
    }   

    .header-SecondSection {
        color: white;
        font-size: 8.5vw;
        letter-spacing: 0.5vw;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .parag-SectionSection {
        color: white;
        font-size: 6vw;
        width: 75%;
        margin-bottom: 0px;
    }
    .parag-SecondSecSection {
        color: white;
        padding-top: 5%;
        font-size: 5vw;
        margin-bottom: 0px;
        margin-top: 0px;
    }



    .p-interSecondSection {
        width: 30%;
        color: white;
        font-size: 5vw;
        margin-top: 0px;
    }

    .inter-phone {
        display: flex;
        flex-direction: column;
    }


    .phonee {
        padding-top: 2vh;
        height: 100%;
        width: 50%;
    }





    .Download-secondSection {
        color: white;
    }
     


    .download-holder {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 2%;
    }

    .images-button-stores {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        width: 50%;
    }
    .store-buttons {
        height: 5vh;
        width: 85%;
    }
    .vitabox {
        width: 55%;
        height: 90%;
    }


    .mapimg {
        height: 80%;
        width: 100%;
        padding-top: 10%;
        display: none;
    }













}












@media screen and (min-width: 768px) and (max-width: 1024px) {


.header-SecondSection {
    color: white;
    font-size: 4.7vw;
    letter-spacing: 0.5vw;
    margin-bottom: 0px;
    margin-top: 0px;
}


.parag-SectionSection {
    color: white;
    font-size: 3vw;
}


.phonee {
    padding-top: 2vh;
    height: auto;
    width: 40%;
}
.Home-SecondSection-container {
    height: auto;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    margin-top: 0px;
    padding-top: 1vh;
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;
    
}

.store-buttons {
    height: 4vh;
    width: 100%;
}


.download-holder {
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 2%;
}

.vitabox {
    width: 85%;
    height: 100%;
}












}
