.login-first-container{
    background-image: url("../Images/backgroundSecond.png");
    height: 25vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    

}
.loginn-foot-con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    padding-left: 10%;

    font-size: 1.5vw;
}
.Link-login-foot{
    text-decoration: none;
    color: blue;
}
.h1-text-align{
    text-align: center;
    color: blue;
}
.Login-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:50%;
    padding-left: 25%;

  color: blue;
  padding-bottom: 1.5vw;
}
.input-login{
height: 3vw;
border-radius: 10px;
}
.labels-login{
font-size: 1.5vw;
}
.button-login{
    height:3vw;
    width:60%;
    margin-left: 20%;
    background-color: blue;
    border-radius: 10px;
    font-size: 1.5vw;
    color: white;
}